@font-face {
	font-family: 'myFont';
	src: url('https://cdn.jsdelivr.net/gh/ialoe/Index@master/font/myFont.ttf');
}

body {
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, .8);
	font-family: 'myFont';
	font-weight: 400;
	font-size: 100%/1.625;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

h1 {
	padding: 0;
	margin: 0;
	color: initial;
	font-weight: 700;
	text-rendering: optimizeLegibility;
	text-align: center;
	line-height: 1.1;
	border-bottom: 0;
}

.index-module--main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

.index-module--main p {
	font-size: 20px;
	margin-bottom: 45px;
}

.index-module--main:after {
	content: "";
	background-image: url('https://cdn.jsdelivr.net/gh/ialoe/Index@master/img/background-image.jpg');
	background-position: 50%;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	opacity: .7;
	box-sizing: inherit;
}

.index-module--title {
	font-family: AmaticSC-Regular;
	font-size: 4rem;
}

.index-module--link-to-other-page {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30%;
}

.index-module--link-to-other-page a:hover {
	color: #87b3f8;
}

.index-module--contact {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	margin-top: 10rem;
}

.index-module--contact span {
	margin: 0 1rem;
}

.index-module--contact span img {
	width: 20px;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding: 0;
}

.footer-module--footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
